{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-classnames", "prettier-plugin-merge"],
  "singleAttributePerLine": false
}
