@import 'tailwindcss';

@source inline("bg-cyan-500/10 ring-cyan-500/10 text-cyan-500 " +
 "bg-purple-400/10 ring-purple-400/10 text-purple-400");

@theme {
  /* Colors */
  --color-custom-purple-900: #1a0f2e;
  --color-custom-purple-800: #2d1b4e;
  --color-custom-purple-700: #3d1e63;
  --color-custom-purple-600: #462a6a;
  --color-custom-violet-500: #615fff;
  --color-custom-gray-300: #d1d5db;

  /* Shadow */
  --shadow-color: rgba(0, 0, 0, 0.4);
  --shadow-card: 0px 0px 6px var(--shadow-color);

  /* Typography */
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply bg-black text-white antialiased;
}

body {
  @apply min-h-screen bg-transparent;

  &::before {
    content: '';
    @apply fixed inset-0 -z-10 h-screen w-full bg-black;
    background-image: linear-gradient(145deg, var(--color-black) 0%, var(--color-custom-purple-700) 100%);
  }
}

@layer components {
  .cc-card {
    @apply shadow-card block rounded-md border border-[var(--color-custom-purple-600)] bg-black/35;
  }

  .cc-grid-template {
    @apply grid grid-cols-[repeat(1,minmax(0,_1fr))];
  }

  .cc-scrollbar {
    @apply overflow-auto;
    scrollbar-color: var(--color-custom-purple-900) var(--color-custom-gray-300);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      @apply w-2;
    }

    &::-webkit-scrollbar-track {
      @apply bg-custom-purple-900;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-custom-purple-900 rounded;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-custom-purple-800;
    }
  }
}
